< [Exception Handling](PythonIntroCh10.ipynb) | [DataFrame Operations](PythonIntroCh12.ipynb) >

# 10. Pandas DataFrame
## 10.1 Introduction
Pandas has data structures for data analysis. The most used of these are Series and DataFrame data structures. Series is one dimensional, that is, it consists of a column. Data frame is two-dimensional, i.e. it consists of rows and columns:<br>

In [ ]:
### Reading Data : Load a CSV file called "employees.csv" into a DataFrame and display the first 5 rows.
import pandas as pd
df = pd.read_csv("<files_path>")
print(df.head())

In [ ]:
 ##Selecting and Filtering Data : From the DataFrame below, select the rows where Age is greater than 30.
import pandas as pd
df = pd.DataFrame({
    'Name': ['Alice', 'Bob', 'Charlie', 'David'],
    'Age': [25, 30, 35, 40],
    'Salary': [50000, 60000, 70000, 80000]
})

df_filtered = df[df['Age'] > 30]
print(df_filtered)

In [ ]:
## Sorting Data : Sort the DataFrame by Salary in descending order.
df_sorted = df.sort_values(by="Salary", ascending=False)
print(df_sorted)

In [ ]:
## Grouping and Aggregation : Find the average salary of employees based on their department.
df = pd.DataFrame({
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eve'],
    'Department': ['HR', 'IT', 'IT', 'HR', 'Finance'],
    'Salary': [50000, 70000, 75000, 48000, 90000]
})
df_grouped = df.groupby('Department')['Salary'].mean()
print(df_grouped)

In [ ]:
##Handling Missing Data : Fill missing values in the following DataFrame with the column mean.
df = pd.DataFrame({
    'Name': ['Alice', 'Bob', 'Charlie', 'David'],
    'Age': [25, 30, None, 40],
    'Salary': [50000, 60000, 70000, None]
})
df['Age'].fillna(df['Age'].mean(), inplace=True)
df['Salary'].fillna(df['Salary'].mean(), inplace=True)
print(df)

In [ ]:
## Apply Function : Create a new column "Salary Incremented" by increasing Salary by 10% using the apply() function

df['Salary Incremented'] = df['Salary'].apply(lambda x: x * 1.1)
print(df)

In [ ]:
##Merging DataFrames : Merge the following two DataFrames on the "ID" column.
df1 = pd.DataFrame({'ID': [1, 2, 3], 'Name': ['Alice', 'Bob', 'Charlie']})
df2 = pd.DataFrame({'ID': [1, 2, 4], 'Salary': [50000, 60000, 70000]})
df_merged = pd.merge(df1, df2, on="ID", how="inner")
print(df_merged)

In [ ]:
## Pivot Table : Create a pivot table that shows the average Salary per Department.
df = pd.DataFrame({
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eve'],
    'Department': ['HR', 'IT', 'IT', 'HR', 'Finance'],
    'Salary': [50000, 70000, 75000, 48000, 90000]
})

df_pivot = df.pivot_table(values="Salary", index="Department", aggfunc="mean")
print(df_pivot)

In [ ]:
## Time Series Data : Convert the "Date" column to a DateTime format and filter records after "2023-01-15".
df = pd.DataFrame({
    'Date': ['2023-01-01', '2023-01-10', '2023-01-20', '2023-02-01'],
    'Sales': [100, 150, 200, 250]
})
df['Date'] = pd.to_datetime(df['Date'])
df_filtered = df[df['Date'] > '2023-01-15']
print(df_filtered)

In [ ]:
## Rolling Window Calculation : Calculate the 2-day moving average of Sales
df = pd.DataFrame({
    'Date': ['2023-01-01', '2023-01-02', '2023-01-03', '2023-01-04'],
    'Sales': [100, 200, 300, 400]
})
df['Sales'] = df['Sales'].astype(float)
df['Rolling_Avg'] = df['Sales'].rolling(window=2).mean()
print(df)

In [ ]:
## Working with JSON : Load the following JSON data into a DataFrame.
import json

data = '''
[
    {"Name": "Alice", "Age": 25, "Salary": 50000},
    {"Name": "Bob", "Age": 30, "Salary": 60000}
]
'''

df = pd.read_json(data)
print(df)

In [ ]:
## Writing Data to CSV : Save a DataFrame to a CSV file called "output.csv"
df.to_csv("output.csv", index=False)

In [ ]:
## One-Hot Encoding :Perform one-hot encoding on the "Department" column.
df = pd.DataFrame({
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Department': ['HR', 'IT', 'Finance']
})
df_encoded = pd.get_dummies(df, columns=['Department'])
print(df_encoded)

In [ ]:
## SQL Query on DataFrame : Write an SQL query to select employees whose salary is greater than 60,000 using pandasql.
from pandasql import sqldf
query = "SELECT * FROM df WHERE Salary > 60000"
df_filtered = sqldf(query, locals())
print(df_filtered)